.article {
   .content-article {
      &__title {
         margin-bottom: 1rem;
      }
   
      &__text {
         white-space: pre-line;
         color: $dark-300;
   
         @include small {
            font-size: 0.875rem;
            line-height: 1.25rem;
         }
      }
   
      &:not(:last-child) {
         margin-bottom: 2rem;

         @include small {
            margin-bottom: 1.5rem;
         }
      }
   }

   ol {
      padding-inline-start: 0 !important;
      list-style-position: inside !important; //the bullets will sit inside the lines

      .content-article__title {
         display: inline-block;
      }

      // @include small {
      //    padding-inline-start: 0px !important;
      // }

      ul {
         list-style-type: disc;
      }
      li::marker {
         font-weight: 600;
         font-size: 1.5rem;
         line-height: 2.25rem;
   
         @include small {
            font-size: 1.25rem;
            line-height: 2rem;
         }
      }

      // p {
      //    margin-left: -24px; //ol element padding-left size

      //    @include small {
      //       margin-left: -20px;
      //    }
      // }

      :is(ul li,p) {
         color: $dark-300;
      }
   }
}