// Color Variables
$primary: #1662D1;
$primary-base: #0076FC;
$primary-100: #E9F2FF;
//Gray
$gray: #F4F5F7;
$gray-900: #959CA9;
$gray-800: #A1A8B5;
$gray-700: #AAB0BB;
$gray-600:#B3B9C3;
$gray-500:#CDD1D6;
$gray-400:#E6E9ED;
$gray-300:#F4F5F7;
$gray-200:#F7F8F9;
$gray-100:#FAFBFB;
//Dark
$dark-900:#0A0C10;
$dark-800: #11151C;
$dark-700: #292F3B;
$dark-600: #494F5B;
$dark-500: #5D6370;
$dark-400: #707785;
$dark-300: #78808F;
$dark-200: #808899;
$dark-100: #89909E;

$danger: #E93329;
$danger-light: #F5E5E4;
$danger-dark: #C52118;
$success: #5EBC00;
$success-light: #E8F5E4;
$warning: #FFB61E;
$warning-light: #F6F1E5;
$black: #000;
$white: #fff;

//Variables
@mixin flex-center {
   @include flex;
   align-items: center;
   justify-content: center;
}

@mixin flex-btwn {
   @include flex;
   justify-content: space-between;
}
 
@mixin overlay {
   //background overlay
   &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: .5;
   }
}

@mixin dropdown-trngl {
   content: '';
   position: absolute;
   left: 0;
   top: 50%;
   @include transform(translateY(-50%));
   @include transition;
   width: 0; 
   height: 0; 
   border-top: 5px solid transparent;
   border-bottom: 5px solid transparent;
   
   border-left: 6px solid $gray-400;
}